# Ignore node_modules
node_modules

# Ignore logs
*.log
logs

# Ignore build artifacts
dist/
build/

# Ignore temporary files
*.tmp
*.swp

# Ignore local environment files
.env
.env.local

# Ignore data folder (if you don't want it copied to the container)
data

# Ignore Docker-related files
docker-compose.override.yml
